*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    text-align: center;
}
#page1
{
    height: 100vh;
    width: 100%;
    background: url(https://media.tenor.com/images/96f612ccdc54233bba5a8d405d7c678b/tenor.gif) no-repeat center;
}
#page2
{
    height: 100vh;
    width: 100%;
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20201210/pngtree-birthday-cake-yellow-gift-box-balloon-background-image_505904.jpg) no-repeat center;
}
#page3
{
    height: 100vh;
    width: 100%;
    background: url(https://i.pinimg.com/originals/54/a4/77/54a4778b844d6b4965f4fe047990a53d.gif) /*no-repeat*/ center;
}
#page4
{
    height: 100vh;
    width: 100%;
    background: url(https://i.pinimg.com/originals/a1/0f/2a/a10f2acf3181742c61b9509da52c9336.gif) no-repeat center;
}
