* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html
  {
      width: 980px;
      padding: 0;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
  }
  .p1 {
    height: 100vh;
    width: 100%;
    background: url(https://media1.giphy.com/media/KehbREbc68gckNA7x6/giphy.gif)
      no-repeat center;
    /* background-clip: border-box; */
    background-size: 970px;
  }
  .p2 {
    width: 100%;
    height: 100vh;
    background: url(https://i.pinimg.com/originals/81/2f/09/812f0948d4de3d65d5c1cb25989ddb79.gif)
      no-repeat center;
    background-size: cover;
  }
  .p3 {
    width: 100%;
    height: 100%;
    padding: 30px;
    background: url(https://cutewallpaper.org/21/blue-background-gif/Weird-background-GIFs-Get-the-best-GIF-on-GIPHY.gif)
      no-repeat center;
    background-size: cover;
  }
  .p3 p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
  }
  .p3 h2 {
    text-align: center;
    color: white;
  }
  .p4 .box {
    width: 130px;
    height: 120%;
    padding: 5px;
    border: 3px solid black;
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  .p4 h2 {
    text-align: center;
    border: 8px double black;
  }
  .p4 .box h5 {
    font-family: "Girassol", cursive;
  }
  .p4 .box img {
    width: 100%;
    height: 130px;
  }
  .p4 #man {
    float: right;
    display: block;
  }
  .p5 video {
    width: 80%;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .p5 {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .p5 h2 {
    text-align: center;
    border: 8px double black;
    margin-top: 10px;
  }
  .p6 h3 {
    text-align: center;
    border: 6px double black;
  }
  .p6 p {
    margin-top: 20px;
    padding: 20px;
    color: black;
    font-family: "Dancing Script", cursive;
  }
  